
.cuis{
    background-color: #73170F;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: Aleo;
}

.cCard{
    /* border: 2px solid red;  */
    background-color: #FAC55F;
    border-radius: 10px;
    height: 80px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
}
.cCard:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5); 
    background-color: #f8b739; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
}
.type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.cImg{
    width: 120px;
    border-radius: 10px;
}
.cImg>img{
    max-height: 100%; 
    max-width: 90%;
    object-fit: cover; 
    
    border-radius: 10px;
}

.tiltle{
    font-size: xx-large;
    font-weight: 900;
}
