<div class="cuis">
    <div class="tiltle">Cuisine</div>
    <div class="type">

        <div class="row cCard" (click)="handleCuisine('Indian')">
            <div class="col-5 cImg">
                <img src="/ind.webp" alt="">
            </div>
            <div class="col-7">Indian</div>
    </div>
    <div class="row cCard" (click)="handleCuisine('Chinese')">
        <div class="col-5 cImg">
            <img src="/chi.webp" alt="">
        </div>
        <div class="col-7">Chinese</div>
    </div>
    <div class="row cCard" (click)="handleCuisine('Italian')">
        <div class="col-5 cImg">
            <img src="/itl.webp" alt="">
        </div>
        <div class="col-7">Italian</div>
    </div>
    <div class="row cCard" (click)="handleCuisine('Mexican')">
        <div class="col-5 cImg">
            <img src="/mex.png" alt="">
        </div>
        <div class="col-7">Mexican</div>
    </div>
    <div class="row cCard" (click)="handleCuisine('Other')">
        <div class="col-5 cImg">
            <img style="width: 150px; height: 50px;" id="oth" src="/oth.png" alt="">
        </div>
        <div class="col-7">Other</div>
    </div>
</div>
</div>