$white: #FFFFFF;
$black: #000000;

$color-1: #006685;
$color-2: #0090BC;
$color-3: #00B0E6;
$color-4: #19C9FF;
$color-5: #6DDBFF;
$color-6: #BBEEFF;

$gray-1: #F0F0F0;
$gray-2: #C0C0C0;
$gray-3: #A0A0A0;
$gray-4: #999999;
$gray-5: #606060;
$gray-6: #4C4C4C;

$light-gray: #F4F4F4;

$light-red:#e64c4e;




// $palette-1: #0F4F90;
// $palette-2: #DF5C28;
// $palette-3: #2667B3;
// $palette-4: #0381B8;
// $palette-5: #1098C5;
// $palette-6: #69C2DD;
// $palette-7: #D4F2FD;
// $palette-8: #5F1499;
// $palette-9: #000000;
// $palette-10: #FFFFFF