/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #fcdd8a;
    height: 100%;
    margin-top: 100px; 

    margin: 0;
}
.suggestions-list {
    position: absolute;
    top: 100%; /* Position the suggestions below the search bar */
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5); /* Transparent white background */
    backdrop-filter: blur(5px); /* Glass effect */
    border-radius: 10px;
    z-index: 10; /* Ensure it overlaps */
    max-height: 300px;
    overflow-y: auto; /* Scroll if the list is too long */
  }
  
  .selected-ingredients {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .selected-item {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
  
  .selected-item button {
    margin-left: 5px;
  }
  

a{
    text-decoration: none;
}
.dotd{
    
    height: 90px;
    width: 120px; 
    flex: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* border: 1px solid red; */
}
#dotd{
    margin-top: 7px;
    /* margin: a; */
    max-height: 80%; 
    max-width: 90%;
    object-fit: cover; 
    box-shadow: 0 2px 5px rgb(66, 66, 66);
    border-radius: 10px;
}

.dotd_text{
    font-family: Aleo; 
    color: #b42024;
}

.info{
    width: 60px;
    padding-top: 20px;
    z-index: 1000; 
    width: 50px; 
}

.search-bar .form-control {
    background-color: #fac55f;
    color: #73170f;
    border: none;
    box-shadow: 0 2px 5px rgba(66, 66, 66, 0.5);
    padding-left: 15px;
    font-family: 'Aleo', sans-serif;
}

.search-bar .btn {
    box-shadow: 0 2px 5px rgba(66, 66, 66, 0.5);
    transition: all 0.3s ease-in-out;
    font-family: 'Aleo', sans-serif;
    
}

.search-bar .btn:hover {
    background-color: #f8b739;
    color: white;
}

.search-bar .dropdown-menu {
    background-color: #fac55f;
    color: #73170f;
    border: none;
    box-shadow: 0 2px 5px rgba(66, 66, 66, 0.5);
    
}

.top_row{
    margin-top: 30px;
    
}

.tryDotd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fac55f;
    border-radius: 10px;
    margin-left: 50px;
    width: 300px;
    
    box-shadow: 0 2px 5px rgb(66, 66, 66);
}
.tryDotd:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5); 
    background-color: #f8b739; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
}