<div class="search-bar-component">
  <div class="search-bar-with-dish-the-day">
    <div class="dish-of-the-day" (click)="handledotd()">
      <div class="dotd">
        <img id="dotd" src="/dotd.jpg" alt="dotd" />
      </div>
      <div class="dotd_text">Try out Today's <br /><strong>DOTD</strong></div>
    </div>

    <div class="search-wrapper">
      <form class="search-form" (ngSubmit)="search()">
        <p-autoComplete
          *ngIf="type === 'Dish'"
          [(ngModel)]="searchedItem"
          name="searchedItem"
          [suggestions]="suggestions"
          (completeMethod)="onInputChange()"
          (onSelect)="selectSuggestion($event)"
          [forceSelection]="false"
          placeholder="Search dishes..."
          [minLength]="1"
          class="search-input"
        ></p-autoComplete>

        <p-multiSelect
          *ngIf="type === 'Ingredient'"
          [options]="suggestions"
          [(ngModel)]="selectedIngredients"
          name="selectedIngredients"
          defaultLabel="Search ingredients..."
          (onChange)="selectIngredient($event.value)"
          class="search-select"
        ></p-multiSelect>

        <p-select
          appendTo="body"
          [(ngModel)]="type"
          name="type"
          [options]="selectRecipeChoices"
          optionLabel="label"
          placeholder="Select Your Choice"
          (onChange)="handleType($event.value)"
          class="search-select w-full md:w-56"
        ></p-select>

        <button
          pButton
          type="submit"
          label="Search"
          class="search-btn"
        ></button>
      </form>

      <p-chip
        *ngIf="selectedIngredients.length > 0"
        [ngModel]="selectedIngredients"
        (onRemove)="removeSelectedIngredient($event)"
        class="selected-chips"
      ></p-chip>
    </div>
  </div>
</div>
