.search-bar-component {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.search-bar-with-dish-the-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.dish-of-the-day {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  max-width: 100%;
  border: 2px solid #000;
  padding: 0.5rem;
  transition: all 0.2s ease;
}
.dish-of-the-day:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dotd {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.dotd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.dotd_text {
  flex: 1;
  font-size: 0.95rem;
  color: #333;
}

/* Search section */
.search-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
  width: 100%;
  max-width: 600px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

.search-input,
.search-select {
  flex: 1;
  height: 40px;
  border:1px solid black;
}

.search-btn {
  background-color: blue;
  color: white;
  border-radius: 0.5rem;
  height: 40px;
}
.selected-chips {
  width: 100%;
  max-width: 600px;
}
