<div class="meal">
    <div class="row mTitle">
        Meal
    </div>
    <div class="row mRow">
        <div class="col-3 mcard" (click)="handleMeals('Breakfast')">
            <div class="row">
                <img src="/breakfast 1.svg" alt="">
            </div>
            <div class="row">Breakfast</div>
        </div>
        <div class="col-3 mcard" (click)="handleMeals('main course')">
            <div class="row">
                <img src="/main-course.svg" alt="">
            </div>
            <div class="row">Main Course</div>
        </div>
        <div class="col-3 mcard" (click)="handleMeals('Snacks')">
            <div class="row">
                <img src="/candies.svg" alt="">
            </div>
            <div class="row">Snacks</div>
        </div>
        <div class="col-3 mcard" (click)="handleMeals('Beverages')">
            <div class="row"><img src="/coffee.svg" alt=""></div>
            <div class="row">Beverages</div>
        </div>
    </div>
</div>