$white: #FFFFFF;
$black: #000000;

$color-1: #006685;
$color-2: #0090BC;
$color-3: #00B0E6;
$color-4: #19C9FF;
$color-5: #6DDBFF;
$color-6: #BBEEFF;

$gray-1: #F0F0F0;
$gray-2: #C0C0C0;
$gray-3: #A0A0A0;
$gray-4: #999999;
$gray-5: #606060;
$gray-6: #4C4C4C;


.auth-page {
  background: $color-6;
  padding: 1rem;
 color: $gray-5;
}

.auth-card {
  width: 380px;
  border-radius: 16px;
}

.header {
 color:$color-1;
  border-radius: 0.75rem 0.75rem 0 0;
  margin-bottom: 0.4rem;
}

.field {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }
  .input-field {
    outline:none;
    font-size: 0.8rem;
    padding:0.3rem;
    border-radius:0.2rem;
    &::placeholder {
      font-size: 0.7rem !important;
    }
  }
}

.error-text {
  color: red;
  font-size: 12px;
}

.switch-text {
  text-align: center;
  margin-top: 1rem;

  a {
    color: $color-2;
    cursor: pointer;
    text-decoration: underline;
  }
}

::ng-deep p-password {
  border: 1px solid white;
  background-color: white;
  outline:none;
  border-radius:0.2rem;

  .p-password-input {
    width: 100%;
  }
  .p-password-toggle-mask-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
  }
  .p-inputtext{
    font-size: 0.8rem;
    padding:0.3rem;
    border-radius:0.2rem;
    &::placeholder {
      font-size: 0.7rem !important;
      color: #999;
    }
  }
}
::ng-deep p-card {
  padding: 1rem;
  background-color: $color-4 !important;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep p-button {
 color:$color-2;
  background-color: white !important;
  padding: 0.3rem;
  border-radius: 0.2rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-banner {
  //display:block;
  color:red!important;
  font-style: 300;
  text-align: center;
  margin-bottom: 0.5rem;
}