.main-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color:#fac55f;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.content-area {
  margin-left: 150px; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: calc(100% - 250px);
}
.top-search-bar {
  position: fixed;
  top: 0;
  left: 150px;
  right: 0;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0.8rem 1rem;
  z-index: 15;
  display: flex;
  align-items: center;
}
.content-body {
  flex: 1;
  margin-top: 70px;
  overflow-y: auto;
  padding: 1rem 1.5rem;
  background-color: #f7f8fa;
}
.top-search-bar app-search-bar {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}