
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // border: 2px solid red;
    height: 200px;
    
    box-shadow: 0 2px 5px rgb(66, 66, 66);
    width: 100%;
    background-color: #FAC55F;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    margin: 20px;
}
.rId{
    font-size: xx-small;
    font-family: Aleo;
    text-align: end;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5); 
    background-color: #f8b739; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
}
.cImg{
    /* border: 2px solid red; */
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    padding: 0;
}

.content{
    text-align: start;
    width: 100%;
    // border: 2px solid red;
    // font-size: xx-small;
}

.title{
    font-family: Aleo;
    font-size: large;
}
.etext{
    margin-top: 10px;
    font-size: xx-small;
}
