<div class="dish">
    <div class="row dtitle">
        Dish
    </div>
    <div class="row showRow">
        <div class="col-4 dcard" (click)="handledish('Pizza')">
            <div class="row">
                <img class="dimg" src="/pizza.jfif" alt="">
            </div>
            <div class="row">Pizza</div>
        </div>
        <div class="col-4 dcard" (click)="handledish('Burger')">
            <div class="row">
                <img class="dimg" src="/burger.jfif" alt="">
            </div>
            <div class="row">Burger</div>
        </div>
        <div class="col-4 dcard" (click)="handledish('Dosa')" >
            <div class="row">
                <img class="dimg" src="/dosa.jfif" alt="">
            </div>
            <div class="row">Dosa</div>
        </div>
    </div>
    <div class="row showRow">
        <div class="col-4 dcard" (click)="handledish('Ice Cream')" >
            <div class="row">
                <img class="dimg" src="/ice cream.jpg" alt="">
            </div>
            <div class="row">Ice cream</div>
        </div>
        <div class="col-4 dcard" (click)="handledish('Biryani')">
            <div class="row">
                <img class="dimg" src="/biryani.jfif" alt="">
            </div>
            <div class="row">Biryani</div>
        </div>
        <div class="col-4 dcard" (click)="handledish('samosa')" >
            <div class="row">
                <img class="dimg" src="/samosa.jfif" alt="">
            </div>
            <div class="row">Samosa</div>
        </div>
    </div>
</div>
