/* ---- Layout ---- */
$color-1: #006685;
$color-2: #0090bc;
$color-3: #00b0e6;
$color-4: #19c9ff;
$color-5: #6ddbff;
$color-6: #bbeeff;

$gray-1: #f0f0f0;
$gray-2: #c0c0c0;
$gray-3: #a0a0a0;
$gray-4: #999999;
$gray-5: #606060;
$gray-6: #4c4c4c;

.home-container {
  display: flex;
  gap: 1.5rem;
}

.home-left {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-right {
  flex: 1;
}

.section-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

/* ---- Dishes Section ---- */
.dish-section {
  background: #43c9f7;
  border-radius: 12px;
  padding: 0.7rem;

  .dish-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
  }

  .dish-card {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      background-color: #fbe7ca;
    }
  }

  .dish-image {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
  }

  .dish-name {
    margin-top: 0.5rem;
    font-weight: 500;
  }
}

/* ---- Meals Section ---- */
.meal-section {
  background: red;
  border-radius: 12px;
  padding: 0.7rem;

  .meal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .meal-card {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s;

    &:hover {
      transform: scale(1.05);
      background-color: #e4f7fe;
    }
  }

  .meal-image {
    width: 70px;
    height: 70px;
    margin-bottom: 0.5rem;
  }

  .meal-name {
    font-weight: 500;
  }
}

/* ---- Cuisine Section ---- */
.cuisine-section {
  background: orange;
  border-radius: 12px;
  padding: 1rem;

  .cuisine-list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .cuisine-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;

    &:hover {
      background-color: #ffe4e1;
      transform: scale(1.02);
    }
  }
  .cuisine-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
  }

  .cuisine-name {
    font-weight: 500;
    font-size: 1rem;
  }
}

//Recipe Card Rendering
.recipe-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  .heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    span {
      color: #6366f1;
    }
    .button {
      width: auto;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 1rem;
      background-color: $color-3;
      color: white;
    }
  }

  .recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;

    .recipe-cards {
      flex: 1 1 calc(20% - 1.5rem);
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.25s ease, box-shadow 0.25s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
      .card {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        .like-btn {
          background-color: #6366f1;
          color: #fff;
          border: none;
          padding: 0.5rem 0.5rem;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #4f46e5;
          }
        }
      }
    }
  }

  .no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    margin-top: 3rem;
  }
}

//Recipe View Container
.recipe-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .recipe-detail-header {
    display: flex;
    justify-content: space-between;
    .recipe-detail-button {
      width: auto;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 1rem;
      background-color: $color-3;
      color: white;
    }
    font-size: 1.5em;
    font-weight: bold;
    color: $color-3;
  }
  .recipe-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    .image-section {
      width: 20%;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .recipe-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }
    }
    .ingredients-section {
      font-size: 14px;
      width: 25%;
      max-height: 300px;
      overflow-y: auto;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      ul {
        list-style: disc;
        margin-left: 1.5rem;
      }
    }
    .about-section {
      width: 55%;
      font-size: 14px;
      max-height: 300px;
      overflow-y: auto;
      line-height: 1.3;
      overflow: hidden;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .recipe-row {
    flex-direction: column;
    align-items: center;
  }
  .ingredients-section,
  .image-section,
  .about-section {
    width: 100%;
    text-align: center;
  }
}
