<div class="row-1">
  <div class="col-12 content">
    <div class="section-title" style="font-size: 2em; text-align: center;">
      {{ recipeData?.title || 'Loading Recipe...' }}
    </div>
  </div>
</div>

<div class="row-2">
  <div class="col-12 content image" style="text-align:center; padding: 0;">
    <img *ngIf="recipeData?.image" [src]="recipeData.image" alt="Delicious Recipe" class="img-fluid" />
  </div>
</div>

<div class="row-3">
  <div class="row">
    <!-- Recipe Ingredients on the left -->
    <div class="col-4 content" id="ingredients" style="text-align:left;">
      <div class="section-title" style="font-size: 30px;">Recipe Ingredients</div>
      <ul>
        <li *ngFor="let ingredient of recipeData?.extendedIngredients">
          {{ ingredient.original }}
        </li>
      </ul>
    </div>

    <!-- About section on the right -->
    <div class="col-8 content summary" style="text-align:left;">
      <div class="section-title" style="font-size: 30px;">About</div>
      <p [innerHTML]="recipeData?.summary"></p>
    </div>
  </div>
</div>
