<div class="recipe-container">
  <h1 class="recipe-title">
    {{ recipeData?.title || "Loading Recipe..." }}
  </h1>

  <div class="recipe-row">
    <!-- Image -->
    <div class="image-section">
      <h2>Image</h2>
      <img
        *ngIf="recipeData?.image"
        [src]="recipeData.image"
        alt="Recipe Image"
        class="recipe-image"
      />
    </div>

    <div class="ingredients-section">
      <h2>Ingredients</h2>
      <ul>
        <li *ngFor="let ingredient of recipeData?.extendedIngredients">
          {{ ingredient.original }}
        </li>
      </ul>
    </div>
    <div class="about-section">
      <h2>About</h2>
      <div [innerHTML]="recipeData?.summary"></div>
    </div>
  </div>
</div>
