.recipe-container {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

.recipe-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 100%;
}

.recipe-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.image-section {
  width: 20%;
}
.image-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ingredients-section {
  font-size: 14px;
  width: 25%;
  max-height: 300px;
  overflow-y: auto;
}
.ingredients-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.ingredients-section ul {
  list-style: disc;
  margin-left: 1.5rem;
}
.about-section {
  width: 55%;
  font-size: 14px;
  max-height: 300px;
  overflow-y: auto;
  line-height: 1.3;
  overflow: hidden;
}
.about-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
  .recipe-row {
    flex-direction: column;
    align-items: center;
  }
  .ingredients-section,
  .image-section,
  .about-section {
    width: 100%;
    text-align: center;
  }
}
