/* You can add global styles to this file, and also import other style files */


.sideCol {
    margin: 0;
    box-shadow: 0 2px 5px rgb(66, 66, 66);
    min-height: 100%; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding-right: 0px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px; 
}

#logo {
    max-height: 100%; 
    max-width: 100%;
    object-fit: cover; 
    box-shadow: 0 2px 5px rgb(66, 66, 66);
}
.side {
    margin-top: 100px; 
    font-family: 'Aleo';
    font-size: 36px;
}

.sideRow {
    margin-bottom: 20px;
    display: flex;
    // padding-left: 20px;
    // border: 2px solid red;

    .sideIcon{
        width: 25%;
    }
}
.sideRow:hover{
    transform: scale(1.02); 
    box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5); 
    // background-color: #f8b739; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
}
.active{
    color: #73170F;
    box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5); 
}
a{
    text-decoration: none;
    color: black;
}
