.sidebar{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
  display:flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  //box-shadow: 0 2px 5px rgba(66, 66, 66, 0.3);
  border-radius: 10px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 8px;
}

.nav-item:hover {
  background-color: #f5f5f5;
  color: #000;
}

.nav-item.active {
  background-color: #f0f0f0;
  color: #007bff;
  font-weight: 600;
}

.icon {
  font-size: 1.3rem;
  color: inherit;
}
