.meal{
    background-color: #f3be79;
    /* border: 2px solid red; */
    border-radius: 10px;
    font-family: Aleo;
    padding: 20px;
    margin-bottom: 10px;
}


.mTitle{
    font-family: Aleo;
    font-weight: 900;
    font-size: xx-large;
    margin-left: 10px;
}
.mcard{
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: space-around;
    align-items: center;
}
.mcard:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(66, 66, 66, 0.5); 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
}
.mRow{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}