.row{
    display: flex;
    // justify-content: space-between;
}

.heading{
    font-family: Aleo;
    font: bold;
    font-size: 56px;
    font-weight:bolder;
    margin-left: 30px;
    color: #73170F;
}
.likeCom{
    display: flex;
    justify-content: start;

}